.border {
    border: 2px solid red;
    margin: 4px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.black-bg {
    background-color: black;
    color: white;
}

.gray-bg {
    background-color: rgb(37, 37, 37);
}

.invert {
    filter: invert(1);
}

.round{
    border-radius: 8px;
}

.m1{
    margin: 5px;
}

.p1{
    padding: 10px;
}

/* Scrollbar width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track (background) */
::-webkit-scrollbar-track {
    background: #111; /* dark background */
}

/* Thumb (scroll handle) */
::-webkit-scrollbar-thumb {
    background: #444; 
    border-radius: 10px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
    background: #777;
}